<div style="background-color:#6610f2; height:100vh; width:100vw" class="center-me">

    <div style="width:50%; background-color:white;" class="elevate-float p-3 round-me">
    <h2 class="text-center text-purple mb-4 font-2rem">Login form</h2>

    <div>
        <div class="mb-3">
            <label for="emailInput" class="form-label">Email</label>
            <input type="email" class="form-control" id="emailInput" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="passwordInput" class="form-label">Password</label>
            <input type="password" class="form-control" id="passwordInput" placeholder="password">
        </div>
        <div class="mt-5 pb-3 center-me">
            <button class="btn btn-primary btn-lg" type="button" style="width:30%; background-color:#6610f2">Login</button>
        </div>

    </div>

<div>
